/* Hover effect: scale up the card slightly */
.card-hover:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Remove the default navy blue highlight */
.MuiCardActionArea-root:hover {
  background-color: transparent; /* Remove highlight */
}

.out-of-stock {
  filter: grayscale(
    100%
  ); /* Gray out the product image if out of stock and not requestable */
  color: lightgray;
}
