html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.custom-appbar {
  background-color: #2b2d42;
  color: #ffffff;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.menu-icon {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 1125px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #2b2d42;
    padding: 10px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 1.5rem;
  }

  .nav-links button {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 0.8rem;
  }

  .custom-appbar .MuiTypography-root {
    font-size: 1rem;
  }
}

@media (min-width: 878px) and (max-width: 1024px) {
  .nav-links button {
    font-size: 0.9rem;
  }

  .custom-appbar .MuiTypography-root {
    font-size: 1.1rem;
    white-space: normal;
    padding: 5px;
  }

  .menu-icon {
    display: block;
  }
}

/* Search bar styling */
.search-bar .MuiOutlinedInput-root {
  height: 70px;
}

.search-bar
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.search-bar .MuiOutlinedInput-root.Mui-focused {
  box-shadow: none;
}

/* Remove tap highlight on mobile */
button,
.menu-icon,
.nav-links button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
}
