.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #d9caaa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form-container .form-group {
  margin-bottom: 15px;
}

.contact-form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-form-container .form-group input,
.contact-form-container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form-container .form-group textarea {
  resize: vertical;
}

.contact-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #9f8a71;
  color: rgb(54, 49, 39);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.contact-form-container button:hover {
  background-color: #9f8a71; /* Keep the same background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
  transform: scale(1.05); /* Slightly increase the size */
  border: 2px solid #e0d8b4; /* Add a border */
}

/* Ensure navbar styles have higher specificity
.custom-appbar .MuiTypography-root {
  font-size: 1.2rem;
  color: rgb(54, 49, 39);
}

.custom-appbar .nav-links button {
  color: white;
  font-size: 1rem;
} */

html,
body {
  background-image: url("/public/Picture1.png");
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the image */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  height: 100%;
}
