.container {
  margin-top: 24px; /* Adds top margin to the container */
  padding: 0 16px; /* Adds some padding to the container */
}

/* Grid Layout */
.grid-container {
  display: flex;
  justify-content: space-between; /* Space between items */
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px; /* Adjusted padding to reduce space between items */
  flex-direction: column;
  flex-grow: 1; /* Ensure all grid items grow equally */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}



/* Responsive Grid Layout */
@media (max-width: 600px) {
  .grid-item {
    width: 100%; /* Full width on small screens */
  }

  .item-card {
    max-width: 100%; /* Full width cards on small screens */
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .grid-item {
    width: 50%; /* Two cards per row on medium screens */
  }

  .item-card {
    max-width: 100%; /* Full width within grid item */
  }
}

@media (min-width: 960px) {
  .grid-item {
    width: 33.3%; /* Three cards per row on large screens */
  }

  .item-card {
    max-width: 100%; /* Full width within grid item */
  }
}
